.empty-shelf {
  max-width: var(--mx-wdth);
  margin: 1rem auto;
  display: grid;
  place-items: center;
}

.error-message {
  justify-content: center;
  width: 60vw;
  margin: 2rem auto;
  height: 50vh;
}
