.error-page {
  max-width: 25rem;
  padding: 1rem;
  margin: 0 auto;
  height: 75vh;
  flex-direction: column;
  justify-content: center;
}

.error-icon {
  font-size: 6rem;
  color: var(--brnd-clr);
}

.error-title {
  padding: 1rem;
  margin-bottom: 1rem;
}
