/* Filter Btns */
.btn {
  text-transform: uppercase;
  background: var(--bckgrnd-trnsprnt);
  border-radius: var(--brdr-rds);
  border: 2px solid var(--bckgrnd-clr);
  padding: 0.75rem 0.5rem;
  margin: 0.25rem;
  color: var(--fnt-clr);
  align-self: center;
  cursor: pointer;
}

.btn:hover {
  background: var(--brnd-clr);
  color: var(--bckgrnd-clr);
  border: 2px solid var(--brnd-clr);
  transition: var(--trnstn);
}

@media screen and (min-width: 800px) {
  .btn {
    margin: 0.5rem;
  }
}
