/* Link */
.links {
  transition: var(--trnstn);
  margin: 0.5rem;
}

.links a {
  color: var(--fnt-clr);
}

@media screen and (min-width: 800px) {
  .links {
    margin: 1rem;
    align-self: center;
  }

  .links:hover {
    padding-left: 0;
  }

  .links a:hover {
    color: var(--brnd-clr);
  }
}
