/* Navbar */
.nav-center {
  width: 100vw;
  position: absolute;
  background-color: var(--bckgrnd-clr);
  transition: var(--nvbr-trns);
  z-index: 1;
}

.nav-center::before {
  content: '';
  display: block;
  flex: 1;
}

.nav-center::after {
  content: '';
  display: block;
  flex: 1;
}

.nav-header {
  justify-content: space-between;
  margin-left: 0.5rem;
}

.nav-toggle {
  display: flex;
  align-self: center;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: 0;
  background: transparent;
  color: var(--brnd-clr);
  transition: var(--trnstn);
  cursor: pointer;
}

.nav-menu {
  text-align: start;
  font-size: 1rem;
  height: 0;
  overflow: hidden;
  transition: var(--trnstn);
}

.links-container {
  flex-direction: column;
  align-items: flex-start;
}

.show-menu {
  height: 12rem;
  padding: 0 0.5rem;
  box-shadow: var(--bx-shdw);
}

@media screen and (min-width: 800px) {
  .nav-center {
    display: flex;
    justify-content: space-around;
    height: auto;
    flex: 0 0 auto;
    width: 100%;
    padding: 0.3125rem 0;
  }

  .nav-content {
    display: flex;
    justify-content: space-around;
    max-width: var(--mx-wdth);
    width: 100%;
  }

  .nav-toggle {
    display: none;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    height: auto;
    flex: 1;
  }

  .links-container {
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1;
    margin: 0 2rem;
  }
}

@keyframes navBar-slideIn {
  0% {
    top: -80px;
  }

  100% {
    top: 0px;
  }
}

.sticky-nav {
  top: 0;
  position: fixed;
  width: 100%;
  box-shadow: var(--bx-shdw);
}

.animate-nav {
  animation: navBar-slideIn 0.3s ease-in-out;
}
