.open-book {
  display: flex;
  flex-flow: column;
  align-items: center;
  background: var(--bckgrnd-clr);
  padding: 1rem;
}

.title {
  color: var(--brnd-clr);
  text-align: center;
  padding: 0.25rem;
}

.open-book img {
  width: 12rem;
  height: 18rem;
  object-fit: contain;
  padding: 1rem;
}

.open-book-info {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 0.5rem;
  place-items: center;
}

.open-book-info header {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.open-book-info h3,
span {
  color: var(--brnd-clr);
}

@media screen and (min-width: 800px) {
  .open-book {
    display: grid;
    place-items: center;
    width: 90vw;
    height: auto;
    grid-template-columns: repeat(2, 3fr);
    gap: 3rem;
  }

  .open-book img {
    width: 20rem;
    height: auto;
    object-fit: cover;
  }

  .open-book-info {
    grid-template-rows: repeat(3, auto);
    padding: 1rem;
  }
}
