.signin-btn {
  padding: 0.25rem;
  margin-top: 1rem;
  background-color: var(--brnd-clr);
  border-radius: var(--brdr-rds);
  border: 2px solid var(--brnd-clr);
  color: var(--bckgrnd-clr);
  transition: var(--trnstn);
  cursor: pointer;
}

.signin-btn:hover {
  color: var(--bckgrnd-clr);
  background-color: var(--fnt-clr);
  border: 2px solid var(--fnt-clr);
}

@media screen and (min-width: 800px) {
  .signin-btn {
    padding: 0.5rem;
    margin-top: 1.5rem;
  }
}
