.user-submenu {
  display: none;
  position: absolute;
  height: 8rem;
  top: 3.5rem;
  left: 50%;
  z-index: 3;
  transform: translateX(-50%);
  background-color: var(--bckgrnd-clr);
  border-radius: var(--brdr-rds-2);
  box-shadow: var(--mn-shdw);
  text-align: center;
}

.user-submenu::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 5px solid var(--bckgrnd-trnsprnt-1);
  border-right: 5px solid var(--bckgrnd-trnsprnt-1);
  border-bottom: 5px solid var(--bckgrnd-clr);
}

.user-submenu p {
  margin: 0;
}

.user-submenu.show {
  display: grid;
  place-items: center;
}
