/* Upload Book */
.book-form {
  background-color: var(--brnd-clr);
  color: var(--bckgrnd-clr);
  padding: 1.5rem 2rem;
  border-radius: var(--brdr-rds-2);
  box-shadow: var(--bx-shdw);
  margin: 1rem auto;
}

.book-form input,
textarea {
  padding: 0.5rem;
  border: 2px solid var(--bckgrnd-trnsprnt-1);
  border-radius: var(--brdr-rds);
}

.btn {
  background: var(--bckgrnd-clr);
  color: var(--brnd-clr);
}

@media screen and (min-width: 800px) {
  .book-form {
    max-width: var(--mx-wdth);
    padding: 2rem;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 65vw;
  }

  .book-form input,
  textarea {
    padding: 0.5rem;
  }
}
