/* Upload Book */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  transition: var(--trnstn);
  visibility: hidden;
  z-index: -1;
}

.show-modal {
  visibility: visible;
  z-index: 10;
}
