/* Upload Book */
.book-form {
  background-color: var(--brnd-clr);
  color: var(--bckgrnd-clr);
  padding: 1.5rem 2rem;
  border-radius: var(--brdr-rds-2);
  box-shadow: var(--bx-shdw);
  margin: 1rem auto;
}

.form-control {
  margin: 0.5rem 0;
  display: grid;
  align-items: center;
  text-align: start;
}

.book-form input,
textarea {
  padding: 0.5rem;
  border: 2px solid var(--bckgrnd-trnsprnt);
  border-radius: var(--brdr-rds);
}

.btn {
  background: var(--bckgrnd-clr);
  color: var(--brnd-clr);
}

@media screen and (min-width: 800px) {
  .book-form {
    max-width: var(--mx-wdth);
    padding: 2rem;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    width: 80vw;
  }

  .form-control {
    margin: 1rem;
    display: grid;
  }

  .book-form input,
  textarea {
    padding: 0.5rem;
  }
}
