.user-bar {
  z-index: 2;
  border: none;
  background-color: var(--bckgrnd-clr);
  transition: var(--trnstn);
  margin-left: 0.5rem;
  color: var(--brnd-clr);
}

.user-bar:hover {
  transform: rotateX(360deg);
}

.user-icon {
  align-self: center;
  font-size: 2rem;
  padding: 0.5rem;
}

@media screen and (min-width: 800px) {
  .user-bar {
    margin-left: 2rem;
  }
}
