.user-bar {
  z-index: 2;
  border: none;
  background-color: var(--bckgrnd-clr);
  transition: var(--trnstn);
  margin-left: 0.5rem;
  color: var(--brnd-clr);
  transform: perspective(1px) translateZ(0);
}

.user-bar:hover {
  animation: buzz-up 3s 75ms;
}

.user-icon {
  align-self: center;
  font-size: 2rem;
  padding: 0.5rem;
}

@media screen and (min-width: 800px) {
  .user-bar {
    margin-left: 2rem;
  }
}

@keyframes buzz-up {
  2% {
    transform: translateX(3px) rotate(2deg);
  }
  4% {
    transform: translateX(-3px) rotate(-2deg);
  }
  6% {
    transform: translateX(3px) rotate(2deg);
  }
  8% {
    transform: translateX(-3px) rotate(-2deg);
  }
  10% {
    transform: translateX(2px) rotate(1deg);
  }
  12% {
    transform: translateX(-2px) rotate(-1deg);
  }
  14% {
    transform: translateX(2px) rotate(1deg);
  }
  16% {
    transform: translateX(-2px) rotate(-1deg);
  }
  18% {
    transform: translateX(1px) rotate(0);
  }
  20% {
    transform: translateX(-1px) rotate(0);
  }
}
